<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Registrar medicamentos</h4>
                        <p class="card-category">Medicamentos disponibles</p>
                    </div>
                    <div class="card-body">
                        <button mat-raised-button color="primary" (click)="openModal()">
                            Agregar Medicamento
                        </button>
                        <mat-dialog-content>
                            <ng-template #medicamentoModal>
                                <h2 mat-dialog-title>Agregar Medicamento</h2>
                                <mat-dialog-content>
                                    <form [formGroup]="medicamentoForm" (ngSubmit)="onAddSubmit()">

                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Seleccionar Medicamento</mat-label>
                                            <mat-select formControlName="medicamento" (selectionChange)="setMedicamentosSelect($event.value)">
                                              <mat-option *ngFor="let medicamento of medicamentosExistentes" [value]="medicamento">
                                                {{ medicamento.codigo }} - {{ medicamento.medicamento }}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>

                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>ID</mat-label>
                                            <input matInput formControlName="id" />
                                            <mat-error *ngIf="medicamentoForm.get('id')?.invalid">El id es obligatorio</mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Código</mat-label>
                                            <input matInput formControlName="codigo" readonly/>
                                            <mat-error *ngIf="medicamentoForm.get('codigo')?.invalid">El código es obligatorio</mat-error>
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Fecha</mat-label>
                                            <input matInput formControlName="fecha" type="date" />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Número de documento</mat-label>
                                            <input matInput formControlName="noDoc" />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Medicamento</mat-label>
                                            <input matInput formControlName="medicamento" readonly />
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Fecha de caducidad</mat-label>
                                            <input matInput formControlName="caducidad" type="date" />
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Unidad</mat-label>
                                            <input matInput formControlName="unidad" />
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Entrada</mat-label>
                                            <input matInput formControlName="entrada" type="number" />
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Salida</mat-label>
                                            <input matInput formControlName="salida" type="number" />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>stock</mat-label>
                                            <input matInput formControlName="stock" type="number" />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Dias Disponibles</mat-label>
                                            <input matInput formControlName="diasDisp" type="number" />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>estado</mat-label>
                                            <input matInput formControlName="estado"/>
                                        </mat-form-field>

                                        <mat-dialog-actions>
                                            <button mat-button  type="submit" [disabled]="medicamentoForm.invalid">Guardar</button>
                                            <button mat-button mat-dialog-close>Cerrar</button>
                                        </mat-dialog-actions>
                                    </form>
                                </mat-dialog-content>
                            </ng-template>
                        </mat-dialog-content>
                        <mat-dialog-content>
                            <ng-template #editMedicamentoModal>
                                <h2 mat-dialog-title>Editar Medicamento</h2>
                                <mat-dialog-content>
                                    <form [formGroup]="medicamentoForm" (ngSubmit)="onEditSubmit()">
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Seleccionar Medicamento</mat-label>
                                            <mat-select formControlName="medicamento" (selectionChange)="setMedicamentosSelect($event.value)">
                                              <mat-option *ngFor="let medicamento of medicamentosExistentes" [value]="medicamento">
                                                {{ medicamento.codigo }} - {{ medicamento.medicamento }}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>

                                        <!-- Los campos ya estarán llenos con los valores del medicamento a editar -->
                                        <mat-form-field appearance="fill">
                                            <mat-label>ID</mat-label>
                                            <input matInput formControlName="id" [value]="selectedMedicamento?.id"  readonly/>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Código</mat-label>
                                            <input matInput formControlName="codigo" [value]="selectedMedicamento?.codigo" readonly/>
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill">
                                            <mat-label>Fecha</mat-label>
                                            <input matInput formControlName="fecha" type="date" [value]="selectedMedicamento?.fecha" />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" >
                                            <mat-label>Número de documento</mat-label>
                                            <input matInput formControlName="noDoc" [value]="selectedMedicamento?.noDoc"/>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill">
                                            <mat-label>Medicamento</mat-label>
                                            <input matInput formControlName="medicamento" [value]="selectedMedicamento?.medicamento" readonly/>
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill" class="form-field">
                                            <mat-label>Fecha de caducidad</mat-label>
                                            <input matInput formControlName="caducidad" type="date" [value]="selectedMedicamento?.caducidad" />
                                        </mat-form-field>
                                        
                                        <mat-form-field appearance="fill">
                                            <mat-label>Unidad</mat-label>
                                            <input matInput formControlName="unidad" [value]="selectedMedicamento?.unidad" />
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="fill">
                                            <mat-label>Entrada</mat-label>
                                            <input matInput formControlName="entrada" type="number" [value]="selectedMedicamento?.entrada" />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" >
                                            <mat-label>Salida</mat-label>
                                            <input matInput formControlName="salida" type="number" [value]="selectedMedicamento?.salida"/>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" >
                                            <mat-label>stock</mat-label>
                                            <input matInput formControlName="stock" type="number" [value]="selectedMedicamento?.stock"/>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" >
                                            <mat-label>Dias Disponibles</mat-label>
                                            <input matInput formControlName="diasDisp" type="number" [value]="selectedMedicamento?.diasDisp"/>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" >
                                            <mat-label>estado</mat-label>
                                            <input matInput formControlName="estado"[value]="selectedMedicamento?.estado"/>
                                        </mat-form-field>
                    
                                        <mat-dialog-actions>
                                            <button mat-button type="submit" [disabled]="medicamentoForm.invalid">Actualizar</button>
                                            <button mat-button mat-dialog-close>Cerrar</button>
                                        </mat-dialog-actions>
                                    </form>
                                </mat-dialog-content>
                            </ng-template>
                        </mat-dialog-content>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Acciones</th>
                                        <th>Código</th>
                                        <th>Medicamento</th>
                                        <th>Unidad</th>
                                        <th>Entrada</th>
                                        <th>Salida</th>
                                        <th>Stock</th>
                                        <th>Días Disp.</th>
                                        <th>Estado</th>
                                        <th>Caducidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of medicamentos">
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                                <button type="button" class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
                                                <button type="button" class="btn btn-info" (click)="openEditModal(item)">Editar</button>
                                              </div>
                                        </td>
                                        <td>{{ item.codigo }}</td>
                                        <td>{{ item.medicamento }}</td>
                                        <td>{{ item.unidad }}</td>
                                        <td>{{ item.entrada }}</td>
                                        <td>{{ item.salida }}</td>
                                        <td>{{ item.stock }}</td>
                                        <td>{{ item.diasDisp }}</td>
                                        <td>{{ item.estado }}</td>
                                        <td>{{ item.caducidad ? item.caducidad : 'N/A' }}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>