<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Entrada de Medicamentos</h4>
                        <p class="card-category"> Se muestran los medicamentos almacenados.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>id</th>
                                        <th>Código</th>
                                        <th>Medicamento</th>
                                        <th>Unidad</th>
                                        <th>Entrada</th>
                                        <th>Salida</th>
                                        <th>Stock</th>
                                        <th>Días Disp.</th>
                                        <th>Estado</th>
                                        <th>Caducidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of medicamentos">
                                        <td>{{item.id}}</td>
                                        <td>{{ item.codigo }}</td>
                                        <td>{{ item.medicamento }}</td>
                                        <td>{{ item.unidad }}</td>
                                        <td>{{ item.entrada }}</td>
                                        <td>{{ item.salida }}</td>
                                        <td>{{ item.stock }}</td>
                                        <td>{{ item.diasDisp }}</td>
                                        <td>{{ item.estado }}</td>
                                        <td>{{ item.caducidad ? item.caducidad : 'N/A' }}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  