<div class="main-content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                    <h4 class="card-title">Registrar Medicamento</h4>
                  </div>
                  <div class="card-body">
                        <p class="card-category">Registre medicamentos en el servidor</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning"><h4 class="card-title">Entrada de Medicamentos</h4>
                  </div>
                  <div class="card-body">
                      <p class="card-category">Control de entrada de medicamentos</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger"><h4 class="card-title">Salidas de Medicamentos </h4>
                  </div>
                  <div class="card-body">
                      <p class="card-category">Control de salidas de medicamentos</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                    <h4 class="card-title">Medicamentos</h4>
                  </div>
                  <div class="card-body">
                    <p class="card-category">Tabla con los medicamentos actualizados</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Base de Salidas</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <p class="card-category">Gestione las salidas de los medicamentos en el servidor</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Informes</h4>
                </div>
                <div class="card-body table-responsive">
                    <p class="card-category">Genera informes en distintos formatos disponibles</p>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
